@import '../../../theme/variables';

:host{
  width: 100%;

  .review{
    >div {
      width: 100%;
      margin-bottom: 10px;

      >img {
        width: 15%;
        height: auto;
        border-radius: 15%;
        margin-right: 5%;
      }
    }
  }

}
